<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVCMybatis:war exploded">
    <output-path>$PROJECT_DIR$/target/SpringMVCMybatis</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>SpringMVCMybatis</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVCMybatis" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: taglibs:standard:1.1.2" />
          <element id="library" level="project" name="Maven: javax.el:javax.el-api:3.0.0" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis-spring:2.0.1" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.5.1" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.38" />
          <element id="library" level="project" name="Maven: commons-dbcp:commons-dbcp:1.4" />
          <element id="library" level="project" name="Maven: commons-pool:commons-pool:1.5.4" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.17" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjweaver:1.7.2" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/SpringMVCMybatis/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="SpringMVCMybatis/web/Web" />
    </root>
  </artifact>
</component>